<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello world from web.folder</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus
      exercitationem dolorum ipsa nemo vel necessitatibus sapiente ipsum rerum
      iusto doloremque odio asperiores, perferendis corrupti labore sed pariatur
      commodi incidunt soluta?
    </p>
    <img src="{% static 'images/image.png' %}" alt="image" />
  </body>
</html>
